{% extends "base.html" %}
{% block title %}

{% end %}
{% block body %}
{% autoescape None %}

<audio id="myaudio">
    <source src="">
</audio>
<div class="panel panel-default" style="width: 50%;margin: 0 auto;text-align:center;">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <p>
            枪顶后脑勺，该摇还得摇!
        </p>
    </div>
    <div class="panel-body">
        <p>
            横幅.
        </p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>音乐</th>
            <th>时长</th>
            <th>人气</th>
            <th>下载</th>
            <th></th>
        </tr>
        </thead>
        {% for music in musics %}
        {{ modules.MusicItem(music) }}
        {% end %}
    </table>
</div>

{% end %}